# Rating
ENVIRONMENT MUST BE TEST. CHANGE IT
Adds 2 categories of 5 apps each.

In [1]:
import os
import pandas as pd
from appvoc.container import AppVoCContainer
from appvoc.infrastructure.file.io import IOService

In [2]:
container = AppVoCContainer()
container.init_resources()
container.wire(packages=["appvoc.data.acquisition"])

In [3]:
TF = "data/archive/rating/rating_07-29-2023_17-17-07.pkl"
ARCHIVE = "tests/data/rating/rating.csv"

In [4]:
df = IOService.read(TF, index=False)
df['category_id'].value_counts()
s1 = df.loc[(df['category_id'] == "6015") & (df['ratings']>100)].sample(n=5, random_state=5)
s2 = df.loc[(df['category_id'] == "6020") & (df['ratings']>100)].sample(n=5, random_state=5)
s3 = df.loc[(df['category_id'] == "6013") & (df['ratings']>100)].sample(n=5, random_state=5)
ratings = pd.concat([s1,s2,s3], axis=0)

category_id
6015    58300
6020    31800
6013    28800
6012    20500
6008    17900
6023    17900
6007     1900
Name: count, dtype: int64

In [5]:
repo = container.data.rating_repo()
repo.replace(ratings)
repo.summary

[08/09/2023 02:54:48 AM] [DEBUG] [RatingRepo] [replace] : Replace rating repository data with 10 rows.

  Category  Reviews  Apps  Average Rating
0  Finance        5     5            4.50
1  Medical        5     5            4.90

In [6]:
repo.sample()

,id,name,category_id,category,rating,reviews,ratings,onestar,twostar,threestar,fourstar,fivestar,status
4,1638776636,Bath State Bank,6015,Finance,5.00,1,155,1,1,0,4,149,1
6,922968861,Sanvello: Anxiety & Depression,6020,Medical,5.00,2454,22360,363,163,505,2458,18871,1
2,1276617079,Coffee County Bank,6015,Finance,5.00,2,159,2,1,2,8,146,1
7,1496660234,Virtual Second Opinion,6020,Medical,5.00,2,181,0,0,3,5,173,1
3,395031470,ICCU Mobile Banking,6015,Finance,5.00,708,53672,179,119,673,4563,48138,1