# Rating
The following features will be added to the appdata dataset:

| # | name            | definition                                       | dtype (pandas) | dtype (mysql) |
|---|-----------------|--------------------------------------------------|----------------|---------------|
| 1 | extracted       | Date the data were extracted from the appvoc   | datetime       | VARCHAR(32)   |

In [1]:
import os
import numpy as np
from datetime import datetime
from appvoc.infrastructure.file.io import IOService

In [2]:
filepath = "data/raw/rating_2023-08-28T132314.pkl"
df = IOService.read(filepath=filepath)

In [3]:
df['extracted'] = datetime(2023,7,31,5,00,00)
df.drop(columns=['status'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243663 entries, 0 to 243662
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           243663 non-null  string
 1   name         243663 non-null  string
 2   category_id  243663 non-null  category
 3   category     243663 non-null  category
 4   rating       243663 non-null  float64
 5   reviews      243663 non-null  int64
 6   ratings      243663 non-null  int64
 7   onestar      243663 non-null  int64
 8   twostar      243663 non-null  int64
 9   threestar    243663 non-null  int64
 10  fourstar     243663 non-null  int64
 11  fivestar     243663 non-null  int64
 12  extracted    243663 non-null  datetime64[ns]
dtypes: category(2), datetime64[ns](1), float64(1), int64(7), string(2)
memory usage: 20.9 MB

In [4]:
df.head()

,id,name,category_id,category,rating,reviews,ratings,onestar,twostar,threestar,fourstar,fivestar,extracted
0,1436348671,Bloom: Stock Market Research,6015,Finance,5.00,13,108,3,0,4,4,97,2023-07-31 05:00:00
1,600273928,云闪付-银行业统一移动支付App,6015,Finance,2.00,119,350,225,23,18,19,65,2023-07-31 05:00:00
2,880681855,F&M Bank - EZ Banking,6015,Finance,4.50,195,321,20,11,16,22,252,2023-07-31 05:00:00
3,1476621398,Utah First Digital Banking,6015,Finance,4.50,31,2112,43,27,47,190,1805,2023-07-31 05:00:00
4,1514447510,Unusual Whales,6015,Finance,4.00,30,183,27,8,9,9,130,2023-07-31 05:00:00

In [5]:
filename = "rating_processed_" + datetime.now().strftime("%Y-%m-%d") + ".pkl"
directory = "data/processed"
filepath = os.path.join(directory, filename)
IOService.write(filepath=filepath, data=df)