In [1]:
from datetime import datetime
from appstore.data.storage.job import JobRepo, RatingJobRun, ReviewJobRun
from appstore.container import AppstoreContainer
from appstore.infrastructure.file.io import IOService

In [2]:
container = AppstoreContainer()
container.init_resources()
container.wire(packages=["appstore.data.acquisition"])

In [3]:
JOB_FILEPATH = "tests/data/job/jobs.csv"
REVIEW_JOBRUN_FILEPATH = "tests/data/job/review_jobrun.csv"
RATING_JOBRUN_FILEPATH = "tests/data/job/rating_jobrun.csv"

In [4]:
job_repo = container.data.job_repo()
review_jobrun_repo = container.data.review_jobrun_repo()
rating_jobrun_repo = container.data.rating_jobrun_repo()

In [5]:
job_repo.reset()
review_jobrun_repo.reset()
rating_jobrun_repo.reset()

[08/02/2023 09:19:58 AM] [INFO] [JobRepo] [reset] : Repository JobRepo reset.
[08/02/2023 09:20:02 AM] [INFO] [ReviewJobRunRepo] [reset] : Repository ReviewJobRunRepo reset.
[08/02/2023 09:20:06 AM] [INFO] [RatingJobRunRepo] [reset] : Repository RatingJobRunRepo reset.

In [6]:
jobs = IOService.read(JOB_FILEPATH)
review_jobruns = IOService.read(REVIEW_JOBRUN_FILEPATH)
rating_jobruns = IOService.read(RATING_JOBRUN_FILEPATH)

In [7]:
def setdates(df):
    started = "07/15/2023 04:20:20"    
    ended = "07/29/2023 04:20:20"
    epoch = "01/01/1970 00:00:10"
    try:
        completed = df['complete'] == True    
        df.loc[completed, "completed"] = datetime.strptime(started, "%m/%d/%Y %H:%M:%S")
        df.loc[completed, "started"] = datetime.strptime(started, "%m/%d/%Y %H:%M:%S")
        df.loc[completed, "ended"] = datetime.strptime(ended, "%m/%d/%Y %H:%M:%S")
        notcompleted = df['complete'] == False
        df.loc[notcompleted, "completed"] = datetime.strptime(epoch, "%m/%d/%Y %H:%M:%S")
        df.loc[notcompleted, "started"] = datetime.strptime(epoch, "%m/%d/%Y %H:%M:%S")
        df.loc[notcompleted, "ended"] = datetime.strptime(epoch, "%m/%d/%Y %H:%M:%S")
    except Exception:
        pass
    return df

In [8]:
jobs = setdates(jobs)
review_jobruns = setdates(review_jobruns)
rating_jobruns = setdates(rating_jobruns)
jobs
review_jobruns
rating_jobruns

,id,controller,category_id,category,complete,completed,started,ended
0,rating-6000,RatingController,6000,Business,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
1,rating-6002,RatingController,6002,Utilities,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
2,rating-6005,RatingController,6005,Social_Networking,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
3,rating-6007,RatingController,6007,Productivity,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
4,rating-6012,RatingController,6012,Lifestyle,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
5,rating-6013,RatingController,6013,Health_And_Fitness,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
6,rating-6015,RatingController,6015,Finance,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
7,rating-6016,RatingController,6016,Entertainment,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
8,rating-6017,RatingController,6017,Education,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
9,rating-6020,RatingController,6020,Medical,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
10,rating-6023,RatingController,6023,Food_And_Drink,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
11,rating-6024,RatingController,6024,Shopping,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
12,review-6000,ReviewController,6000,Business,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
13,review-6002,ReviewController,6002,Utilities,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
14,review-6005,ReviewController,6005,Social_Networking,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
15,review-6007,ReviewController,6007,Productivity,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
16,review-6012,ReviewController,6012,Lifestyle,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
17,review-6013,ReviewController,6013,Health_And_Fitness,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
18,review-6015,ReviewController,6015,Finance,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
19,review-6016,ReviewController,6016,Entertainment,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
20,review-6017,ReviewController,6017,Education,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
21,review-6020,ReviewController,6020,Medical,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
22,review-6023,ReviewController,6023,Food_And_Drink,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
23,review-6024,ReviewController,6024,Shopping,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10

,id,jobid,controller,category_id,category,started,ended,elapsed,client_errors,server_errors,data_errors,errors,size,size_ave,apps,apps_per_second,reviews,reviews_per_second,completed,complete
0,dfsoeiwe5w8ew,rating-6000,RatingController,6000,Business,2023-07-15 04:20:20,2023-07-29 04:20:20,236547,22,25,75,122,548953,6.39,85975,2.36,258,5.60,2023-07-15 04:20:20,True

,id,jobid,controller,category_id,category,started,ended,elapsed,client_errors,server_errors,data_errors,errors,size,size_ave,apps,apps_per_second,completed,complete
0,dfadsldsas5,rating-6000,RatingController,6000,Business,1970-01-01 00:00:10,1970-01-01 00:00:10,236547,22,25,75,122,548953,6.39,85975,2.36,1970-01-01 00:00:10,False

In [9]:
job_repo.load(jobs)
review_jobrun_repo.load(review_jobruns)
rating_jobrun_repo.load(rating_jobruns)

[08/02/2023 09:20:06 AM] [DEBUG] [JobRepo] [add] : Added 24 rows to the job repository.
[08/02/2023 09:20:07 AM] [DEBUG] [ReviewJobRunRepo] [add] : Added 1 rows to the review_jobrun repository.
[08/02/2023 09:20:07 AM] [DEBUG] [RatingJobRunRepo] [add] : Added 1 rows to the rating_jobrun repository.

In [10]:
job_repo.getall()
review_jobrun_repo.getall()
rating_jobrun_repo.getall()

,id,controller,category_id,category,complete,completed,started,ended
0,rating-6000,RatingController,6000,Business,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
1,rating-6002,RatingController,6002,Utilities,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
2,rating-6005,RatingController,6005,Social_Networking,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
3,rating-6007,RatingController,6007,Productivity,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
4,rating-6012,RatingController,6012,Lifestyle,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
5,rating-6013,RatingController,6013,Health_And_Fitness,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
6,rating-6015,RatingController,6015,Finance,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
7,rating-6016,RatingController,6016,Entertainment,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
8,rating-6017,RatingController,6017,Education,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
9,rating-6020,RatingController,6020,Medical,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
10,rating-6023,RatingController,6023,Food_And_Drink,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
11,rating-6024,RatingController,6024,Shopping,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
12,review-6000,ReviewController,6000,Business,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
13,review-6002,ReviewController,6002,Utilities,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
14,review-6005,ReviewController,6005,Social_Networking,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
15,review-6007,ReviewController,6007,Productivity,True,2023-07-15 04:20:20,2023-07-15 04:20:20,2023-07-29 04:20:20
16,review-6012,ReviewController,6012,Lifestyle,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
17,review-6013,ReviewController,6013,Health_And_Fitness,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
18,review-6015,ReviewController,6015,Finance,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
19,review-6016,ReviewController,6016,Entertainment,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
20,review-6017,ReviewController,6017,Education,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
21,review-6020,ReviewController,6020,Medical,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
22,review-6023,ReviewController,6023,Food_And_Drink,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10
23,review-6024,ReviewController,6024,Shopping,False,1970-01-01 00:00:10,1970-01-01 00:00:10,1970-01-01 00:00:10

,id,jobid,controller,category_id,category,started,ended,elapsed,client_errors,server_errors,data_errors,errors,size,size_ave,apps,apps_per_second,reviews,reviews_per_second,completed,complete
0,dfsoeiwe5w8ew,rating-6000,RatingController,6000,Business,2023-07-15 04:20:20,2023-07-29 04:20:20,236547,22,25,75,122,548953,6.39,85975,2.36,258,5.60,2023-07-15 04:20:20,True

,id,jobid,controller,category_id,category,started,ended,elapsed,client_errors,server_errors,data_errors,errors,size,size_ave,apps,apps_per_second,completed,complete
0,dfadsldsas5,rating-6000,RatingController,6000,Business,1970-01-01 00:00:10,1970-01-01 00:00:10,236547,22,25,75,122,548953,6.39,85975,2.36,1970-01-01 00:00:10,False